@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
    margin: 0px;
    font-family: Inconsolata, monospace;
}

body * {
    transition: 0.7s;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.container {
    width: 80%;
    margin: auto;
}

.container .container-head {
    text-align: center;
    font-size: 36px;
    cursor: pointer;
}

/* index.html */

.container .floor {
    font-size: 24px;
}

.container .floor h4{
    cursor: text;
}

.container .floor a {
    color: black;
    background-color: #88ddff;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    transition: 0.7s;
}

.container .floor a:hover {
    color: white;
    background-color: blue;
}

.container .floor .booked {
    background-color: #9cff88;
}
.container .floor .booked:hover {
    background-color: #30cc00;
}

.container .btn-100 {
    font-size: 38px;
    font-weight: 900;
    color: black;
    background-color: #88ddff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    transition: 0.7s;
}

.container .btn-100:hover {
    color: white;
    background-color: blue;
}

/* form.html */

.container .container-form {
    font-size: 24px;
}

.container .container-form .form-input {
    margin: 12px;
}

.container .container-form .form-input input {
    outline: none;
    font-size: 24px;
    width: 100%;
    padding: 5px;
}

.container .container-form .form-button {
    width: 100%;
    margin: 12px;
}

.container .container-form .form-button button {
    margin: 12px 0px;
    font-size: 24px;
    width: 99%;
}

/* checkout.html */
.container .container-info {
    font-size: 32px;
}