<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Xyz Inn</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="container-head">
            <h1>Hotel Xyz Inn</h1>
        </div>
        <div class="floor">
            <h4>Ground floor</h4>
            {% if '101' in booked %}
            <a class="booked" href="/c/101">101</a>
            {% else %}
            <a href="/101">101</a>
            {% endif %}
            {% if '102' in booked %}
            <a class="booked" href="/c/102">102</a>
            {% else %}
            <a href="/102">102</a>
            {% endif %}
            {% if '103' in booked %}
            <a class="booked" href="/c/103">103</a>
            {% else %}
            <a href="/103">103</a>
            {% endif %}
            {% if '104' in booked %}
            <a class="booked" href="/c/104">104</a>
            {% else %}
            <a href="/104">104</a>
            {% endif %}
            <a href="/dormitory">DORMITORY</a>
        </div>
        <div class="floor">
            <h4>First Floor</h4>
            {% if '201' in booked %}
            <a class="booked" href="/c/201">201</a>
            {% else %}
            <a href="/201">201</a>
            {% endif %}
            {% if '202' in booked %}
            <a class="booked" href="/c/202">202</a>
            {% else %}
            <a href="/202">202</a>
            {% endif %}
            {% if '203' in booked %}
            <a class="booked" href="/c/203">203</a>
            {% else %}
            <a href="/203">203</a>
            {% endif %}
            {% if '204' in booked %}
            <a class="booked" href="/c/204">204</a>
            {% else %}
            <a href="/204">204</a>
            {% endif %}
            {% if '205' in booked %}
            <a class="booked" href="/c/205">205</a>
            {% else %}
            <a href="/205">205</a>
            {% endif %}
            {% if '206' in booked %}
            <a class="booked" href="/c/206">206</a>
            {% else %}
            <a href="/206">206</a>
            {% endif %}
            {% if '207' in booked %}
            <a class="booked" href="/c/207">207</a>
            {% else %}
            <a href="/207">207</a>
            {% endif %}
            {% if '208' in booked %}
            <a class="booked" href="/c/208">208</a>
            {% else %}
            <a href="/208">208</a>
            {% endif %}
        </div>
        <div class="floor">
            <h4>Second Floor</h4>
            {% if '301' in booked %}
            <a class="booked" href="/c/301">301</a>
            {% else %}
            <a href="/301">301</a>
            {% endif %}
            {% if '302' in booked %}
            <a class="booked" href="/c/302">302</a>
            {% else %}
            <a href="/302">302</a>
            {% endif %}
            {% if '303' in booked %}
            <a class="booked" href="/c/303">303</a>
            {% else %}
            <a href="/303">303</a>
            {% endif %}
            {% if '304' in booked %}
            <a class="booked" href="/c/304">304</a>
            {% else %}
            <a href="/304">304</a>
            {% endif %}
            {% if '305' in booked %}
            <a class="booked" href="/c/305">305</a>
            {% else %}
            <a href="/305">305</a>
            {% endif %}
            {% if '306' in booked %}
            <a class="booked" href="/c/306">306</a>
            {% else %}
            <a href="/306">306</a>
            {% endif %}
            {% if '307' in booked %}
            <a class="booked" href="/c/307">307</a>
            {% else %}
            <a href="/307">307</a>
            {% endif %}
            {% if '308' in booked %}
            <a class="booked" href="/c/308">308</a>
            {% else %}
            <a href="/308">308</a>
            {% endif %}
        </div>
        <div class="floor">
            <h4>Third Floor</h4>
            {% if '401' in booked %}
            <a class="booked" href="/c/401">401</a>
            {% else %}
            <a href="/401">401</a>
            {% endif %}
            {% if '402' in booked %}
            <a class="booked" href="/c/402">402</a>
            {% else %}
            <a href="/402">402</a>
            {% endif %}
            {% if '403' in booked %}
            <a class="booked" href="/c/403">403</a>
            {% else %}
            <a href="/403">403</a>
            {% endif %}
            {% if '404' in booked %}
            <a class="booked" href="/c/404">404</a>
            {% else %}
            <a href="/404">404</a>
            {% endif %}
            {% if '405' in booked %}
            <a class="booked" href="/c/405">405</a>
            {% else %}
            <a href="/405">405</a>
            {% endif %}
            {% if '406' in booked %}
            <a class="booked" href="/c/406">406</a>
            {% else %}
            <a href="/406">406</a>
            {% endif %}
            {% if '407' in booked %}
            <a class="booked" href="/c/407">407</a>
            {% else %}
            <a href="/407">407</a>
            {% endif %}
            {% if '408' in booked %}
            <a class="booked" href="/c/408">408</a>
            {% else %}
            <a href="/408">408</a>
            {% endif %}
        </div>
        <a class="btn-100" href="/generate">Generate</a>
    </div>
</body>
</html>